.box{
    width: 150px;
    height: 150px;
    background-image: url(./assets/images/FOTOPERFIO.png);
    background-size: cover;
    border-radius: 70%;
    margin: 0 auto;
}
.logo{
    width: 200px;
}

body{
    background-color: rgb(60, 236, 210);
    text-align: left;
}
h1{
    background-color: rgb(237, 241, 240);
}

p{
    background-color: black;
    color: rgb(253, 251, 249);
}
ul{
    background-color: rgb(241, 246, 248);
    color: black;
}